
.vs/PublishedSummary/v15/.suo
.vs/PublishedSummary/v15/Server/sqlite3/storage.ide-shm
.vs/PublishedSummary/v15/Server/sqlite3/storage.ide-wal
a4t.xml
obj/Debug/PublishedSummary.csproj.CoreCompileInputs.cache
obj/Debug/PublishedSummary.csproj.FileListAbsolute.txt
obj/Debug/PublishedSummary.csprojAssemblyReference.cache
obj/Debug/PublishedSummary.dll
obj/Debug/PublishedSummary.pdb
Static/css/custom-control.css
Static/css/published-summary.css
Static/css/Styles.css
.vs/PublishedSummary/v15/.suo
.vs/PublishedSummary/v15/Server/sqlite3/storage.ide-shm
.vs/PublishedSummary/v15/Server/sqlite3/storage.ide-wal
a4t.xml
obj/Debug/PublishedSummary.csproj.CoreCompileInputs.cache
obj/Debug/PublishedSummary.csproj.FileListAbsolute.txt
obj/Debug/PublishedSummary.csprojAssemblyReference.cache
obj/Debug/PublishedSummary.dll
obj/Debug/PublishedSummary.pdb
Static/img/calendar.png
Static/img/content-bloom-logo-150x75.jpg
Static/img/content-bloom-logo-75x75.jpg
Static/img/hello-16x16.png
Static/img/hello-32x32.png
Static/img/open.png
Static/img/publish.png
Static/img/unpublish.png
Static/View/test.html
bin/Debug/PublishedSummary.pdb
bin/Debug/PublishedSummary.dll
bin/Debug/PublishedSummary.a4t
.vs/config/applicationhost.config
.vs/PublishedSummary/v15/Server/sqlite3/storage.ide
.vs/PublishedSummary/v15/Server/sqlite3/db.lock
.vs/PublishedSummary/v14/.suo
.vs/MassImageUploader/v15/.suo
.vs/MassImageUploader/v14/.suo
.vs/MMDownload/v14/.suo
PublishedSummary.csproj.user
